# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Environment variables
*.env

# macOS / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log

# Flask session cache files
flask_session/
# IDE / Editor settings
.vscode/
.idea/
*.swp
