@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');

*, *::before, *::after {

    box-sizing: border-box;

}
:root {
    --main-color:#06c;
    --beige:#FFEAD0;
    --off-white:#EFF2EF;
    --contrast-red: #DB2955;
    --carbon-black:#1B2021
}

* { margin: 0; }

.wrap-div {
    background-color: var(--off-white);
    color: var(--carbon-black);
    min-height: 80vh;
    width:90%;
    margin: auto;
    align-items: center;
    padding-top: 60px;
    border-radius: 10px;

}

.nav-bar {

    display: flex;
    align-items: center;

    color: var(--beige);
    text-align: left;
    font-size: 42px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900px;

    height: 50px;
    width: 100%;
    background-color: #4577CC;
    padding: 15px;

}

.requestContainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.requestsDiv {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
    
.requestBox {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;

}

.requestBoxHeader {

    background-color: #ff151c;
    color: white;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 10px;
    border-style: solid;
    border-color: #ff151c;

    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1800px;

    text-align: center;
    font-size: 24px;

}

.acceptRqBtn{
    display: inline-block;
    background-color: rgba(0, 136, 255, 0.557);
    border: 1px black;
    cursor:pointer;
}

.acceptRqBtn:hover {
    background-color: rgb(184, 182, 176);
}

.requestStudentProfile {
    display: flex;
}

.requestStudentProfile img {
    margin-right: 10px;
}

.requestStudentInfo {
    display: flex;
    flex-direction: column;
}

.requestDescription {
    border: solid 3px black;
    border-radius: 8px;
}