@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');

*, *::before, *::after {

    box-sizing: border-box;

}
:root {
    --main-color:#06c;
    --beige:#FFEAD0;
    --off-white:#EFF2EF;
    --contrast-red: #DB2955;
    --carbon-black:#1B2021;
}

* { margin: 0; }

.wrap-div {
    background-color: white;
    min-height: 80vh;
    width:100%;
    margin: auto;
    align-items: center;
    border-radius: 10px;
}

.nav-bar {

    display: flex;
    align-items: center;

    color: var(--beige);
    text-align: left;
    font-size: 50px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900px;

    height: 80px;
    width: 100vw;
    background-color: var(--main-color);

}

a {
    text-decoration: none;
    color: inherit;
}

.requestContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.requestsDiv {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
    
.requestBox {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-width: 5px;
    border-style: solid;
    border-color: var(--carbon-black);
    border-radius: 15px;

}

.requestBoxHeader {

    background-color: var(--contrast-red);
    color: white;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--contrast-red);

    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1800px;

    text-align: center;
    font-size: 24px;

}

.acceptRqBtn{
    display: inline-block;
    background-color: var(--main-color);
    border: 2px black;
    border-top-right-radius:5px;
    border-bottom-left-radius: 8px;
    cursor:pointer;
}

.acceptRqBtn:hover {
    background-color: var(--contrast-red);
}

.requestStudentProfile {
    display: flex;
}

.requestStudentProfile img {
    margin-right: 10px;
}

.requestStudentInfo {
    display: flex;
    flex-direction: column;
}

.requestDescription {
    align-self: center;
    border: solid 3px black;
    border-radius: 8px;
    width: 90%;
}
.requestForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: var(--beige);
    padding: 20px;
}